.profile {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.description {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddf5ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  background-color: white;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 2px solid #ddf5ff;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
}

.tag {
  color: gray;
  margin-bottom: 10px;
  font-size: 16px;
}

.location {
  color: gray;
  margin-bottom: 10px;
  font-size: 16px;
}

.stats {
  display: flex;
  width: 100%;
  border: 2px solid #ddf5ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  padding: 0;
  background-color: white;
}

.stats > li {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #ddf5ff;
}

.stats > li:last-child {
  border-right: none;
}

.label {
  color: gray;
  margin-bottom: 8px;
}

.quantity {
  color: black;
  margin-bottom: 8px;
  font-weight: bold;
}
