.transactionHistory {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border: none;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
  color: gray;
}

.transactionHistory > thead {
  background-color: rgb(90, 190, 190);
  color: white;
}

.transactionHistory thead tr th {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 10px 0;
}

.transactionHistory tbody tr td {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding: 10px 0;
}

.transactionHistory tbody tr:nth-child(odd) {
  background-color: white;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: rgb(217, 227, 228);
}
